<div class="recuperar-container">
  <mat-card class="recuperar-card">
    <img src="/assets/images/logo.png" alt="Big Data Logo" class="logo">

    <h2 class="title">{{ !emailSent ? ('FORGOT.TITLE' | translate) : ('FORGOT.TITLE_SENT' | translate) }}</h2>
    <p class="subtitle">{{ !emailSent ? ('FORGOT.SUBTITLE' | translate) : ('FORGOT.SUBTITLE_SENT' | translate) }}</p>

    <div *ngIf="!emailSent; else forgotsuccess" class="success-message">
      <form [formGroup]="recuperarForm" (ngSubmit)="onSubmit()">
        <div class="input-group">
          <span class="input-icon material-symbols-outlined">mail</span>
          <input 
            type="email" 
            class="input-field" 
            formControlName="email" 
            placeholder="{{ 'FORGOT.USERNAME' | translate }}"
          />
        </div>
        <button mat-raised-button class="recuperar-button" type="submit" [disabled]="recuperarForm.invalid || isLoading">
          {{ 'FORGOT.SEND' | translate }}
        </button>
        <a class="back-login" (click)="onBackToLogin()">
          <span class="material-symbols-outlined back">arrow_back</span> {{ 'FORGOT.BACK_LOGIN' | translate }}
        </a>
      </form>
    </div>

    <ng-template #forgotsuccess>
      <img src="assets/images/email-sent.png" alt="Logo" class="logo" />
      <p class="subtitle">{{ 'FORGOT.NOT_RECIEVED' | translate }}</p>
      <button mat-raised-button class="recuperar-button" type="button" (click)="resetForm()">
        {{ 'FORGOT.SEND_AGAIN' | translate }}
      </button>
      <a class="back-login" (click)="onBackToLogin()">
        <span class="material-symbols-outlined back">arrow_back</span> {{ 'FORGOT.BACK_LOGIN' | translate }}
      </a>
    </ng-template>
  </mat-card>
</div>

<app-loading-overlay [loading]="isLoading"></app-loading-overlay>
<app-alert></app-alert>