<mat-card class="card card-medium">
    <div class="card-title-cresc">
      <div class="card-header-cresc">
        <div class="card-icon-cresc">
          <img src="/assets/icons/fi_trending-up.svg" alt="Trending Up" class="custom-treding-cresc">
        </div>
        <div class="title-cresc">
          <span class="title-cresc-span">{{ "DASHBOARD.STATE_GROWTH" | translate }}</span>
          <small class="title-cresc-small">{{ "DASHBOARD.GROSS_PROFIT_REGION" | translate }}</small>
        </div>
        <div class="tooltip-info-wrapper">
          <img src="/assets/icons/fi_info.svg" alt="info" class="large-info-icon" />
          <div class="tooltip-box">
            {{ 'DASHBOARD.INDICATOR_8' | translate }}
          </div>
        </div>
      </div>
    </div>
    <div class="card-content">
      <div *ngFor="let state of stateGrowth; let i = index" class="list-item">
        <div class="rank">{{ i + 1 }}</div>
        <div class="nome">{{ state.levelValue }}</div>
        <div class="percentual" [ngClass]="getPercentualClass(state.lift)">
          <mat-icon [ngClass]="getArrowClass(state.lift)">arrow_upward</mat-icon>
          {{ state.lift | dynamicNumber:1:1 }}%
        </div>
      </div>
    </div>
</mat-card>