.filter-wrapper {
  height: 100%;
  background-color: white;
  border-radius: 0.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
}

.map-view {
  padding: 1rem;
}

.indicator {
  padding: 0.625rem;
}

.region-filter {
  padding: 0.5rem;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  color: #3A3A3C;
  background-color: #fff;
}

.button-filter {
  padding: 1rem;
  background-color: white;
}

.filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333;
  font-size: 1rem;
  font-weight: 600;
  background-color: #F2F2F5;
  padding: 0 1rem;
}

.filter-header span {
  font-size: 1.375rem;
  color: #3A3A3c;
  font-weight: 500;
  width: 3.1875rem;
  padding: 1rem;
}

.clear-filter {
  font-size: 0.8125rem;
  color: #4d5bff;
  text-decoration: none;
  cursor: pointer;
}

h3 {
  margin-top: 1.25rem;
  font-size: 0.875rem;
  color: #6B7588;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

h2 {
  margin-top: 1.25rem;
  font-size: 1.25rem;
  color: #3A3A3C;
  margin-bottom: 0.5rem;
  font-weight: 600;
  margin-left: 1rem;
}

.tabs {
  display: flex;
  gap: 0.5rem;
}

.tab {
  flex: 1;
  padding: 0.375rem 0.5rem;
  border-radius: 0.375rem;
  border: none;
  background-color: #f2f4ff;
  color: #333;
  font-weight: 500;
  cursor: pointer;
  background: linear-gradient(#E0E0FF, #4545FF);
  min-height: 2.75rem;
}

.tab.active {
  color: #fff;
  outline: 0.125rem solid #4545FF;
}

.indicator label {
  display: flex;
  align-items: center;
  margin: 5%;
  font-size: 0.875rem;
  color: #8F90A6;
  border-radius: 0.625rem;
  border: 1px solid #8F90A6;
}

.indicator label,
.checkbox-group label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  color: #3A3A3C;
  padding: 0.625rem;
}

.indicator label:has(input[type="radio"]:checked) {
  border: 1px solid #2424ff;
}

.btn-apply {
  margin-top: 1.25rem;
  width: 100%;
  padding: 0.625rem;
  background: #2424ff;
  color: #fff;
  font-weight: bold;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  font-size: 0.9375rem;
}

:host {
  display: block;
  height: 100%;
}

.map-type-toggle {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

.map-type-toggle h3 {
  margin-left: 3%;
  font-size: 1rem;
  font-weight: 600;
  color: #3A3A3C;
}

.toggle-options {
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
}

.option {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  gap: 0.375rem;
  font-size: 0.9rem;
  color: #666;
}

.option.active span {
  color: #0000ff;
}

.visual-button {
  width: 3.75rem;
  height: 2.5rem;
  border-radius: 0.375rem;
  border: 1px solid transparent;
  background-color: transparent;
  min-width: 8.5rem;
  min-height: 2.75rem;
}

.visual-button.heatmap {
  background: linear-gradient(to top, #4545ff, #e8ecff);
}

.visual-button.stations {
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.visual-button.stations img {
  width: 100%;
  height: 100%;
}

.option.active .visual-button {
  border: 1px solid #4545ff;
}

input[type="radio"] {
  accent-color: #4545ff;
  width: 1.25rem;
  height: 1.25rem;
}

input[type="checkbox"] {
  accent-color: #4545ff;
  width: 1.25rem;
  height: 1.25rem;
  font-weight: 600;
  font-size: 0.9375rem;
}

mat-expansion-panel {
  border: none;
  border-bottom: 1px solid #ccc;
  box-shadow: none !important;
  border-radius: 0rem !important;
  margin-left: 1rem;
  max-width: 17rem;
}