<div class="filter-wrapper">
    <div class="filter-header">
      <span>Filter</span>
      <a href="#" class="clear-filter" (click)="clearFilters()">
        Clear filter ({{ selectedRegions.length > 0 ? 1 : 0 }})
      </a>
    </div>
  
    <div class="map-type-toggle">
      <h3>Visão da Mapa</h3>
      <div class="toggle-options">
        <div class="option" [class.active]="mapView === 'heatmap'" (click)="mapView = 'heatmap'">
          <span>Mapa de Calor</span>
          <button class="visual-button heatmap"></button>
        </div>
        <div class="option" [class.active]="mapView === 'stations'" (click)="mapView = 'stations'">
          <span>Postos</span>
          <button class="visual-button stations">
            <img src="assets/images/station.png" alt="Postos" />
          </button>
        </div>
      </div>
    </div>
    
  
    <div class="indicator">
      <h3>indicators</h3>
      <label *ngFor="let i of indicators">
        <input type="radio" name="indicator" [value]="i.value" [(ngModel)]="selectedIndicator" />
        {{ i.label }}
      </label>
    </div>

    <mat-accordion class="accordion">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3>Regions</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="region-filter">
          <h3>Regions Filter</h3>
          <div class="checkbox-group">
            <label *ngFor="let region of regions">
              <input
                type="checkbox"
                [value]="region"
                (change)="toggleRegion(region)"
                [checked]="selectedRegions.includes(region)"
              />
              {{ region }}
            </label>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion class="accordion">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3>States</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="region-filter">
          <h3>State Filter</h3>
          <div class="checkbox-group">
            <label *ngFor="let region of regions">
              <input
                type="checkbox"
                [value]="region"
                (change)="toggleRegion(region)"
                [checked]="selectedRegions.includes(region)"
              />
              {{ region }}
            </label>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion class="accordion">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3>Cities</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="region-filter">
          <h3>Cities Filter</h3>
          <div class="checkbox-group">
            <label *ngFor="let region of regions">
              <input
                type="checkbox"
                [value]="region"
                (change)="toggleRegion(region)"
                [checked]="selectedRegions.includes(region)"
              />
              {{ region }}
            </label>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    
  
    <div class="button-filter">
      <button class="btn-apply" (click)="applyFilters()">Apply</button>
    </div>
  </div>
  