.redefinir-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  margin: 0 !important;
  background: 
    linear-gradient(to bottom, rgba(220, 228, 247, 0.8), rgba(168, 188, 231, 0.8)),
    url('/assets/images/background-login.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.input-custom {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #333;
}

.redefinir-card {
  width: 30%;
  padding: 50px;
  text-align: center;
  border-radius: 16px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
  background: rgba(255, 255, 255, 0.6);
}

.logo {
  width: 120px;
  margin: 0 0 30px 0;  
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 14px;
  text-align: center;
  color: #333;
}

.subtitle {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin-top: -5px;
  line-height: 14px;
  text-align: center;
  color: #333;
  margin-bottom: 40px;
}

.password-strength {
  display: flex;
  gap: 5px;
  margin-top: 5px;
}

.password-strength span {
  width: 25%;
  height: 4px;
  margin: 0  0 20px 0;
  background: lightgray;
  display: block;
}

.password-strength .weak {
  background: yellow;
}

.password-strength .medium {
  background: orange;
}

.password-strength .strong {
  background: green;
}

.password-strength .very-strong {
  background: darkgreen;
}

.full-width {
  width: 100%;
  margin-bottom: 15px;
}

.custom-input {
  width: 100%;
} 

input:focus, textarea:focus, select:focus {
  outline: none;
}

input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.custom-input .mdc-text-field {
  border-radius: 8px !important;
  border: 1px solid #dcdcdc !important;
  background: white;
  height: 48px !important;
  display: flex;
  align-items: center;
  padding: 5px 12px;
}

mat-label {
  color: #a8a8a8 !important;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.redefinir-button {
  width: 100%;
  background: linear-gradient(to right, #00619a, #484a94);
  color: white !important;
  padding: 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  height: 48px;
  cursor: pointer;
}

.redefinir-button:hover {
  background: linear-gradient(to right, #0044cc, #001f66);
}

.back-login {
  display: block;
  margin-top: 20px;
  cursor: pointer;
  text-decoration: underline;
  font-size: 12px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  transition: color 0.3s ease-in-out;
}

.back-login:hover {
  text-decoration: underline;
  color: #003b99;
}

.back {
  align-items: left;
  margin-top: 20px;
  font-size: 14px;
}

mat-icon[matPrefix] {
  color: #666;
  margin-right: 5px;
}

.redefinir-button[disabled] {
  color: white !important; 
  background: linear-gradient(to right, #dcdcdc, #999);
  cursor:progress !important;
}

.input-group {
  display: flex;
  align-items: center;
  width: 100%;
  height: 48px;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  background: white;
  position: relative;
  margin-bottom: 10px;
}

.input-icon {
  font-size: 20px;
  color: #666;
  margin-right: 10px;
  padding: 10px;
}

.input-field {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  border: none;
  outline: none;
  background: transparent;
  height: 100%;
}

.input-field::placeholder {
  color: #a8a8a8;
}

.toggle-password {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 10px;
}

.toggle-password .material-symbols-outlined {
  font-size: 20px;
  color: #666;
}


@media screen and (max-width: 1200px) {
  .redefinir-card {
    width: 60%;
    padding: 40px;
  }
}

@media screen and (max-width: 768px) {
  .redefinir-card {
    width: 80%;
    padding: 40px;
  }
}

@media screen and (max-width: 480px) {
  .redefinir-card {
    width: 90%;
    padding: 30px;
  }

  .title {
    font-size: 24px;
  }

  .subtitle {
    font-size: 14px;
  }

  .redefinir-button {
    font-size: 15px;
  }
}

@media screen and (max-width: 360px) {
  .redefinir-card {
    width: 95%;
    padding: 20px;
  }

  .title {
    font-size: 22px;
  }

  .subtitle {
    font-size: 13px;
  }

  .redefinir-button {
    font-size: 14px;
  }
}