<div class="redefinir-container">
  <mat-card class="redefinir-card">
    <img src="/assets/images/logo.png" alt="Big Data Logo" class="logo">

    <h2 class="title">{{ 'NEWPASSWORD.TITLE' | translate}}</h2>
    <p class="subtitle">{{ 'NEWPASSWORD.SUBTITLE' | translate }}</p>

    <form [formGroup]="redefinirSenhaForm" (ngSubmit)="redefinirSenha()">
      <div class="input-group">
        <input
          type="password"
          formControlName="password"
          (input)="verificarForcaSenha()"
          placeholder="{{ 'NEWPASSWORD.PASSWORD' | translate}}"
          required
        >

      </div>

      <div class="password-strength">
        <span *ngIf="passwordStrength >= 1" class="bar weak"></span>
        <span *ngIf="passwordStrength >= 2" class="bar medium"></span>
        <span *ngIf="passwordStrength >= 3" class="bar strong"></span>
        <span *ngIf="passwordStrength >= 4" class="bar very-strong"></span>
      </div>
  
      <div class="input-group">
        <input type="password" formControlName="passwordConfirm" placeholder="{{ 'NEWPASSWORD.CONFIRM' | translate}}" required>
      </div>

      <button mat-raised-button class="redefinir-button" type="submit" [disabled]="redefinirSenhaForm.invalid || isLoading">
        {{ 'NEWPASSWORD.CREATE' | translate }}
      </button>

      <a class="back-login" (click)="onBackToLogin()">
        <span class="material-symbols-outlined back">arrow_back</span> {{ 'FORGOT.BACK_LOGIN' | translate }}
      </a>

    </form>

  </mat-card>
</div>

<app-loading-overlay [loading]="isLoading"></app-loading-overlay>
<app-alert></app-alert>