.geographic-layout {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: auto;
}

app-sidebar-menu {
  flex-shrink: 0;
  width: 17.5rem;
  height: 100%;
  background: #fff;
  z-index: 2;
}

.geographic-main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  overflow: hidden;
}

app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding-top: 0.625rem;
  height: 7.5rem;
  width: 100%;
  z-index: 999;
}

.geographic-content {
  flex-grow: 1;
  overflow: auto;
  padding: 1.5rem;
  background-color: #FAFAFC;
  display: flex;
  gap: 1.5rem;
  height: 100%;
  width: 100%;
  margin-top: 4%;
}

.geographic-wrapper {
  display: flex;
  align-items: stretch;
  height: calc(100vh - 7.5rem);
  padding: 1.5rem 1.5rem 1.5rem 21.25rem;
  gap: 1.5rem;
  box-sizing: border-box;
}

app-filter {
  flex: 0 0 20.1875rem;
  background-color: #F5F5F5;
  border-radius: 0.5rem;
  overflow-y: auto;
}

app-map {
  flex: 1;
  background-color: #FAFAFC;
  overflow: hidden;
  display: flex;
  align-items: start;
  justify-content: start;
}
